.invoice-box {
    max-width: 990px;
    margin: auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align: left;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
    text-align: left;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
    text-align: right;
}

.invoice-company-logo {
    max-width: 150px;
    max-height: 100px;
}

.text-right {
    text-align: right !important;
}

.invoice-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #777;
}

/* CSS chỉ áp dụng khi in */
@media print {
    body * {
        visibility: hidden;
        /* Ẩn tất cả các phần tử mặc định */
    }

    #viewOrderModal,
    #viewOrderModal * {
        visibility: visible;
        /* Chỉ hiện modal in */
    }

    #order-view-content {
        display: none;
        /* Ẩn giao diện xem chi tiết thông thường khi in */
    }

    #invoice-print-template {
        display: block !important;
        /* Hiện mẫu hóa đơn khi in */
    }

    .modal-footer {
        display: none;
        /* Ẩn footer của modal khi in */
    }

    .modal-dialog {
        max-width: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .modal-content {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    #invoice-print-template .invoice-company-logo {
        max-width: 250px !important;
        max-height: 250px !important;
        /* Tăng kích thước và thêm !important để đảm bảo ưu tiên */
        width: 100%;
    }
}